!!!
%html
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
    %title Logs
    = stylesheet_link_tag    "logs/application", media: "all"
    = javascript_include_tag "logs/application"
    = csrf_meta_tags
  %body
    = yield
